<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vdotok.one2many">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name=".VdoTok"
        android:allowBackup="false"
        android:icon="@drawable/logo_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_main"
        android:supportsRtl="true"
        android:theme="@style/Theme.VdoTokCall_MTM"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <service android:name=".service.OnClearFromRecentService" />

        <service
            android:enabled="true"
            tools:targetApi="q"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:name="com.vdotok.one2many.service.ProjectionService" />
        <activity
            android:name="com.vdotok.one2many.ui.dashboard.DashBoardActivity"
            android:theme="@style/Theme.AccountScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"/>

        <activity
            android:name="com.vdotok.one2many.ui.account.AccountsActivity"
            android:theme="@style/Theme.AccountScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vdotok.one2many.ui.SplashActivity"
            android:theme="@style/Theme.AccountScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>